*.pvsm
*.bin
*.vtk
species_*
fields.txt
CMakeCache.txt
.vscode
CMakeFiles/
Makefile
mini-pic
cmake_install.cmake
*pyc
__pycache__
.DS_Store
minipic.*
tests/default
tests/beam
tests/antenna
tests/Bcst
tests/Ecst
build*
html*
latex*
*.opt.yaml
external/
